# Configurações do Flask
SECRET_KEY=sua-chave-secreta-aqui
FLASK_APP=app.py
FLASK_ENV=development

# Configuração do Banco de Dados
DATABASE_URL=sqlite:///instance/sisccb.db

# Configuração do wkhtmltopdf
WKHTMLTOPDF_PATH=C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltopdf.exe

# Configurações de Email (se necessário)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app
